::-webkit-scrollbar{
  width:8px !important;
}
::-webkit-scrollbar-track{
  background-color:#f68223 ;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb{
  background-color:#F4F4F4;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #f68223;
}
html{
  scroll-behavior: smooth;
}
input{
  outline: none;
  border: 2px solid black;
  border-radius: 6px;
  padding: 15px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
  width: 100%;
  margin-bottom: 20px;
  
}
input:focus{
  box-shadow: 0px 0px 5px 1px #F4F4F4;
}

textarea{
  outline: none;
  border: 2px solid black;

  border-radius: 6px;
  padding: 10px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
  width: 102%;
  resize: none;
}
textarea:focus{
  box-shadow: 0px 0px 5px 1px #F4F4F4;
}


    .orange-button {
        background-color: #f68223;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }